<!-- Navigation Header -->
<header class="vp-nav">
    <div class="vp-nav-container">
        <div class="vp-nav-left">
            <a href="../../index.html" class="vp-nav-logo">
                <span class="vp-nav-logo-icon">
                    <i class='bx bx-cube-alt'></i>
                </span>
                <span>BRICKS</span>
            </a>

            <!-- Navigation Menu -->
            <nav class="vp-nav-menu">
                <div class="vp-nav-menu-item">
                    <button class="vp-nav-menu-button" data-menu="components">
                        Components
                        <i class='bx bx-chevron-down'></i>
                    </button>
                    <div class="vp-nav-dropdown" id="components-menu">
                        <div class="vp-nav-dropdown-content">
                            <div class="vp-nav-dropdown-group">
                                <div class="vp-nav-dropdown-title">Getting Started</div>
                                <a href="../../pages/getting-started/introduction.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Introduction
                                </a>
                                <a href="../../pages/getting-started/installation.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Installation
                                </a>
                                <a href="../../pages/getting-started/configuration.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Configuration
                                </a>
                            </div>
                            <div class="vp-nav-dropdown-group">
                                <div class="vp-nav-dropdown-title">Design Tokens</div>
                                <a href="../../pages/design-tokens/colors.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Colors
                                </a>
                                <a href="../../pages/design-tokens/typography.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Typography
                                </a>
                                <a href="../../pages/design-tokens/spacing.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Spacing
                                </a>
                                <a href="../../pages/design-tokens/shadows.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Shadows
                                </a>
                                <a href="../../pages/design-tokens/borders.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Borders
                                </a>
                            </div>
                            <div class="vp-nav-dropdown-group">
                                <div class="vp-nav-dropdown-title">Elements</div>
                                <a href="../../pages/elements/button.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Button
                                </a>
                                <a href="../../pages/elements/input.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Input
                                </a>
                                <a href="../../pages/elements/select.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Select
                                </a>
                                <a href="../../pages/elements/checkbox.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Checkbox
                                </a>
                                <a href="../../pages/elements/radio.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Radio
                                </a>
                                <a href="../../pages/elements/toggle.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Toggle
                                </a>
                                <a href="../../pages/elements/badge.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Badge
                                </a>
                                <a href="../../pages/elements/avatar.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Avatar
                                </a>
                                <a href="../../pages/elements/progress.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Progress
                                </a>
                                <a href="../../pages/elements/spinner.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Spinner
                                </a>
                            </div>
                            <div class="vp-nav-dropdown-group">
                                <div class="vp-nav-dropdown-title">Components</div>
                                <a href="../../pages/components/alert.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Alert
                                </a>
                                <a href="../../pages/components/card.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Card
                                </a>
                                <a href="../../pages/components/modal.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Modal
                                </a>
                                <a href="../../pages/components/dropdown.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Dropdown
                                </a>
                                <a href="../../pages/components/tabs.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Tabs
                                </a>
                                <a href="../../pages/components/accordion.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Accordion
                                </a>
                                <a href="../../pages/components/pagination.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Pagination
                                </a>
                                <a href="../../pages/components/datepicker.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Datepicker
                                </a>
                                <a href="../../pages/components/breadcrumb.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Breadcrumb
                                </a>
                                <a href="../../pages/components/navbar.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Navbar
                                </a>
                                <a href="../../pages/components/table.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Table
                                </a>
                            </div>
                            <div class="vp-nav-dropdown-group">
                                <div class="vp-nav-dropdown-title">Layout</div>
                                <a href="../../pages/layout/grid.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-grid-alt'></i>
                                    Grid System
                                </a>
                                <a href="../../pages/layout/container.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-box'></i>
                                    Container
                                </a>
                                <a href="../../pages/layout/flexbox.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-layout'></i>
                                    Flexbox
                                </a>
                            </div>
                            <div class="vp-nav-dropdown-group">
                                <div class="vp-nav-dropdown-title">Utilities</div>
                                <a href="../../pages/utilities/display.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Display
                                </a>
                                <a href="../../pages/utilities/position.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Position
                                </a>
                                <a href="../../pages/utilities/overflow.html" class="vp-nav-dropdown-link">
                                    <i class='bx bx-radio-circle'></i>
                                    Overflow
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="vp-nav-menu-item">
                    <button class="vp-nav-menu-button" data-menu="theme">
                        Theme
                        <i class='bx bx-chevron-down'></i>
                    </button>
                    <div class="vp-nav-dropdown" id="theme-menu">
                        <div class="vp-nav-dropdown-content">
                            <a href="../../theme/dashboard/index.html" class="vp-nav-dropdown-link">
                                <i class='bx bx-tachometer'></i>
                                <div>
                                    <div class="vp-nav-dropdown-link-title">Dashboard</div>
                                    <div class="vp-nav-dropdown-link-desc">Admin dashboard layout</div>
                                </div>
                            </a>
                            <a href="../../theme/setting/index.html" class="vp-nav-dropdown-link">
                                <i class='bx bx-cog'></i>
                                <div>
                                    <div class="vp-nav-dropdown-link-title">Settings</div>
                                    <div class="vp-nav-dropdown-link-desc">Account & workspace settings</div>
                                </div>
                            </a>
                            <a href="#" class="vp-nav-dropdown-link">
                                <i class='bx bx-home-alt'></i>
                                <div>
                                    <div class="vp-nav-dropdown-link-title">Landing Page</div>
                                    <div class="vp-nav-dropdown-link-desc">Marketing landing page</div>
                                </div>
                            </a>
                            <a href="#" class="vp-nav-dropdown-link">
                                <i class='bx bx-news'></i>
                                <div>
                                    <div class="vp-nav-dropdown-link-title">Blog Layout</div>
                                    <div class="vp-nav-dropdown-link-desc">Blog and article layouts</div>
                                </div>
                            </a>
                            <a href="#" class="vp-nav-dropdown-link">
                                <i class='bx bx-shopping-bag'></i>
                                <div>
                                    <div class="vp-nav-dropdown-link-title">E-Commerce</div>
                                    <div class="vp-nav-dropdown-link-desc">Shop and product layouts</div>
                                </div>
                            </a>
                            <a href="#" class="vp-nav-dropdown-link">
                                <i class='bx bx-book-open'></i>
                                <div>
                                    <div class="vp-nav-dropdown-link-title">Documentation</div>
                                    <div class="vp-nav-dropdown-link-desc">Docs and wiki layouts</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="vp-nav-right">
            <div class="vp-nav-social">
                <a href="https://github.com" class="vp-nav-social-link" aria-label="GitHub">
                    <i class='bx bxl-github' style="font-size: 20px;"></i>
                </a>
            </div>

            <button class="theme-toggle" aria-label="Toggle theme" id="theme-toggle">
                <svg class="theme-toggle-icon theme-toggle__sun" style="display: none;" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="5"></circle>
                    <line x1="12" y1="1" x2="12" y2="3"></line>
                    <line x1="12" y1="21" x2="12" y2="23"></line>
                    <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                    <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                    <line x1="1" y1="12" x2="3" y2="12"></line>
                    <line x1="21" y1="12" x2="23" y2="12"></line>
                    <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                    <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                </svg>
                <svg class="theme-toggle-icon theme-toggle__moon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                </svg>
            </button>
        </div>
    </div>
</header>